<% comments.each(function(comment) { %>
	<%= comment.get("created_at") %>
	<!-- <button class="btn btn-danger remove-comment" id="<%= comment.get("id") %>">Remove</button> -->
	<div class="comment">
		<%= comment.escape("content") %>
	</div>
<% }) %>

<br>

<textarea placeholder="Enter new comment here." id="new-comment" style="width:50%; height:100px; display:block; margin-bottom:10px;">
</textarea>
<button id="submit-comment" class="btn btn-default">Submit</button>

<br>



