<p align="left">由于国内医生基本上都趋向于进行手术治疗，根本不会跟你提到国外已经上市超过20年的产品：汗力克止汗机，甚至他们根本不想知道这玩意，在医疗技术还没有办法控制代偿性出汗（反射性出汗）之前，就让汗力克止汗机带给你温暖干爽的双手吧！</p>
<p align="left"><strong>什么是电离子渗透（汗力克止汗机）疗法</strong>　　<br />　　这种方法是将一些可以被电解的物质，用直流电将它电解过之后，把带正极和负极的粒子迫进皮肤表层。家用自来水中所带有的矿物质同样可以被电解，成功地被利用来医好过许多病人。</p>
<p align="left"><strong>电离子渗透（汗力克止汗机）疗法为什么有效？</strong><br />　　带正极和负极的粒子在皮肤的最表层：角质层，与细胞产生物理作用，在汗腺口形成阻塞，但对于汗腺本身并没有造成伤害，并让敏感焦虑的神经归于平稳的状态。</p>
<p align="left"><strong>治疗的过程如何？</strong><br />　　在过程中，患者把手或脚浅浸于一个底部置有海绵的胶盒内，电源开启后，电流被带到浸湿了自来水的海绵，电解物就从海绵供应到患处。治疗过程一般没有任何不舒服的感觉，每个部位每次疗程大约三十分钟，每天治疗，在六至十个小时疗程后，患处会维持最多六星期的干爽，当多汗的情况再出现时就可重复整个疗程，或者为了保持永久干爽的生活，停汗后每个星期电1---2次。</p>
<p align="left"><img src="http://www.stopsweat.cn/images/drionic.jpg" alt="" width="508" height="384" /></p>
<p align="left">产品特色：汗力克止汗机是一种令人难以置信的有效地治疗手汗、脚汗的办法 &ndash; 不需要使用手术或者化学药剂！严重的手、脚出汗现在能被安全有效地控制住。汗力克针对多汗患处的汗源局部物理治疗，去除有问题的过度出汗，这样就可以控制手汗、脚汗了。掩饰手汗的窘迫......以及当你用湿手去和别人握手的烦恼都将被汗力克完美解决掉。汗力克适合各个年龄私人家用，安全方便可靠、没有副作用、没有不良反应，并且可以简单地重复使用。在长期使用的状况下，汗力克将比防汗药更加经济、合算，且防汗药对于严重的流汗无能为力。在工作地方，秘书的汗手会将纸张弄湿，机械师的汗手将会使得零件上有汗而腐蚀，而钢琴家的湿手会使得按键打滑。电器技师过度出汗的手可能永远地结束他的职业生涯。对于运动者来说，流汗的手会导致他抓不牢球或球拍、球棍，或者因为脚部过度流汗而导致脚部磨起水泡。汗力克将为您解除多汗困扰，令您日常社交、工作和生活更加顺利。</p>
<p><span>美国通用医疗仪器公司发明，经FDA验证。</span></p>
<p>现代治疗多汗症的最佳医疗器，避免手术的后遗症。</p>
<p>轻巧、安全，采用自来水电解疗法，不需加任何药物。</p>
<p>多个临床实验证实其安全有效，在国外，这是一种皮肤科医生经常推荐采用的用来控制手汗、脚汗的方法。</p>
<p>以后与人握手不再尴尬。</p>