<p align="left"><strong>手汗症的治疗</strong><br />　　交感神经切除（夹闭）术、电离子渗透疗法、针灸中药外用药（下面一一分析，用事实说话）</p>
<p><strong>交感神经切除（夹闭）术</strong><br />　　在谷歌或是百度里输入手汗症，大部份网页都是介绍手术治疗的可行性和满意度的宣传，诚然，手术效果立竿见影，可是后遗症也相当的多，有哪些后遗症请点击<a href="http://www.stopsweat.cn/sequela.htm" target="_self">这里</a>查看。<br />　　交感神经切除（夹闭）术在大陆刚刚流行的时候，很多手术医生为了让手汗不再复发，而选择切除（夹闭）2、3、4节神经链，这样等于是将上半身的流汗通道永久封闭，然而换来的是严重并无法忍受的代偿性（反射性）出汗，下半身除了温度特别低的天气外，常年都湿答答。现在医生为了减少手术后的代偿痛苦，选择切除（夹闭）第3或第4节神经链，并未将所有通道封死，或许从原理上来讲可能会减少代偿性（反射性）出汗，但手汗的复发相对来说要高，并且只切除（夹闭）第3或第4节神经链，也会有严重的代偿性（反射性）出汗，所以手术真的是得不偿失的一种方法。</p>
<p><strong>电离子渗透疗法</strong><br />　　在国外，这种疗法是皮肤科医生推荐治疗多汗的首选方法，美国General Medica公司发明的<a href="http://www.stopsweat.cn/drionic.htm" target="_self">汗力克止汗机</a>就是利用电离子渗透治疗手汗、脚汗和腋汗。同样，法国一家名为 i2m-labs Innovation Materiel Medical发明的<a href="http://www.i2m-labs.com/p_gb/idrostar.htm" target="_blank">Idrostar</a>也是利用电离子来治疗多汗。</p>
<p><strong>针灸中药以及外用药</strong><br /><span>　　鲁迅曾经说过：中医不过是一种有意或无意的骗子！若有人尝试用过针灸或中药治好手汗的，别忘了与大家一同分享哦。关于外用药，流传最广泛就数乌洛托品溶液，这种东西主要是甲醛在起作用，然而甲醛对人体健康的危害就不在这里赘述了。如果您在乎自己的健康，那么就有理由拒绝一切含有甲醛的外用药。</span></p>
<p align="left"><span>第三个分区 手术的后遗症</span></p>
<p align="left"><strong>手汗症手术后遗症（胸交感神经切断、夹闭或阻断）</strong><br />　　气胸、血胸、霍纳氏综合症、代偿性出汗等等等等！不一一列举。最让人难以忍受的恐怕就是代偿性出汗（反射性出汗）：</p>
<p align="left"><img src="http://www.stopsweat.cn/images/sweat.jpg" alt="" width="343" height="241" /></p>
<p>为什么不选择手术治疗?首先要明白什么是手术治疗，手术治疗的原理是什么？


<p>手术治疗是交感神经切除（夹闭）术，人体内有种植物神经（交感神经）“它”不受人的意志支配，人体的排汗是由交感神经控制的，人在工作，运动的过程中交感神经处于兴奋当中，剧烈运动，或者在炎热的环境下身体会不由自主的排汗，不受人的意志控制，这就是交感神经的作用。但手汗症的人，交感神经比一般人更加的亢奋，手心会不由自主的大量排汗，在紧张的情绪下或者炎热的环境下手出的汗量也会更多，严重的可以滴水。
手术治疗的原理是将控制人体手排汗的交感神经链中的部分交感神经切除，切除后控制手部出汗的交感神经也就失去功能，汗水将无法到达手部。但这不意味着就这么结束了，因为控制手部交感神经在失去功能后，交感神经链中的其他交感神经将分担其功能，手部排的汗将转移到身体的其他地方，所以身体其他地方便会出现了转移性出汗（代偿性出汗）身体其他地方将会不受控制与手心出汗一样，开始大量冒汗，因为身体本身也有排汗功能，但是由于切除了控制手心的交感神经，从而分担其"工作"，从而"工作"量更大，所排出的汗将比手汗更多，所以手术后出现了严重代偿出汗，是再正常不过的一件事情。</p>


<p>在谷歌或是百度里输入手汗症，大部份网页都是介绍手术治疗的可行性和满意度的宣传，诚然，手术效果立竿见影，可是后遗症也相当的多。
交感神经切除（夹闭）术在大陆刚刚流行的时候，很多手术医生为了让手汗不再复发，而选择切除（夹闭）2、3、4节神经链，这样等于是将上半身的流汗通道永久封闭，然而换来的是严重并无法忍受的代偿性（反射性）出汗，下半身除了温度特别低的天气外，常年都湿答答。现在医生为了减少手术后的代偿痛苦，选择切除（夹闭）第3或第4节神经链，并未将所有通道封死，或许从原理上来讲可能会减少代偿性（反射性）出汗，但手汗的复发相对来说要高，并且只切除（夹闭）第3或第4节神经链，也会有严重的代偿性（反射性）出汗，所以手术真的是得不偿失的一种方法。</p>
<%= image_tags["results"] %>
<br>
<br>
<%= image_tags["procedure"] %>